{% extends 'base.html' %}
{% block title %}Quiz - {{ video.title }}{% endblock %}
{% block content %}

<!-- NAVBAR -->
<header class="bg-white py-3">
    <div class="px-5 px-lg-8 w-100">
        <div class="d-md-flex align-items-center">
            <!-- Brand -->
            <a class="navbar-brand mb-2 mb-md-0" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='img/logo/logo POP2.png') }}" class="navbar-brand-img" alt="...">
            </a>

            <!-- Lesson Title -->
            {% if video %}
            <div class="mx-auto mb-5 mb-md-0">
                <h3 class="mb-0 line-clamp-2 text-black">{{ video.category_name }}: {{ video.title }}</h3>
            </div>
            {% else %}
            <p>Quiz not found.</p>
            {% endif %}

            <!-- Back to Course -->
            <a href="{{ url_for('course_details', slug=video.slug) }}" class="btn btn-sm btn-orange ms-md-6 px-6 mb-3 mb-md-0 flex-shrink-0">Back to Course</a>
        </div>
    </div>
</header>

<!-- PARALLAX -->
<div class="position-absolute right-0 left-0 top-0 bottom-0 d-none d-md-block" style="margin-top: 5%;">
    <div class="cs-parallax">
        <div class="cs-parallax-layer" data-depth="0.1">
            <img class="img-fluid" src="/static/img/parallax/layer-01.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.3">
            <img class="img-fluid" src="/static/img/parallax/layer-02.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.2">
            <img class="img-fluid" src="/static/img/parallax/layer-03.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.2">
            <img class="img-fluid" src="/static/img/parallax/layer-04.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.4">
            <img class="img-fluid" src="/static/img/parallax/layer-05.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.3">
            <img class="img-fluid" src="/static/img/parallax/layer-06.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.2">
            <img class="img-fluid" src="/static/img/parallax/layer-07.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.4">
            <img class="img-fluid" src="/static/img/parallax/layer-09.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.3">
            <img class="img-fluid" src="/static/img/parallax/layer-10.svg" alt="Layer">
        </div>
    </div>
</div>

<!-- COURSE CONTENT -->
<div class="container container-wd">
    <div class="row pt-8 pb-10">
        <div class="col-lg-8">
            <section>
                {% if questions %}
                <div style="font-size: 30px;">
                    <b>Quiz Title: {{ questions[0].quiz_name }}</b>
                    <br>
                </div>
            
                <form id="quizform" action="{{ url_for('submit_quiz') }}" method="POST" style="font-size: 1rem;">
                    <input type="hidden" name="user_id" value="{{ current_user.id }}">
                    <input type="hidden" name="quiz_id" value="{{ quiz_id }}">
                    <input type="hidden" name="lesson_id" value="{{ lesson_id }}">
            
                    {% for question in questions %}
                    <div style="font-size: 20px; margin-top: 1rem;">
                        <b>{{ loop.index }}. {{ question.question_name }}</b>
                        {% if question.question_image %}
                        <div style="display: flex; margin-top: 10px; width: auto; height: auto;">
                            <img src="{{ url_for('static', filename='img/uploads/question/' ~ question.question_image) }}" 
                                 alt="Question Image" 
                                 style="max-width: 80%; height: auto;">
                        </div>
                        {% endif %}
                    </div>
                    
                    
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question_{{ question.question_id }}" id="choice_a_{{ question.question_id }}" value="a" required>
                        <label class="form-check-label" for="choice_a_{{ question.question_id }}">
                            A. {{ question.choice_a }}
                            {% if question.choice_a_image %}
                            <img src="{{ url_for('static', filename='img/uploads/question/' ~ question.choice_a_image) }}" alt="Choice A Image" style="width: 100px; height: auto; margin-top: 10px;">
                            {% endif %}                          
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question_{{ question.question_id }}" id="choice_b_{{ question.question_id }}" value="b">
                        <label class="form-check-label" for="choice_b_{{ question.question_id }}">
                            B. {{ question.choice_b }}
                            {% if question.choice_b_image %}
                            <img src="{{ url_for('static', filename='img/uploads/question/' ~ question.choice_b_image) }}" alt="Choice B Image" style="width: 100px; height: auto;">
                            {% endif %}
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question_{{ question.question_id }}" id="choice_c_{{ question.question_id }}" value="c">
                        <label class="form-check-label" for="choice_c_{{ question.question_id }}">
                            C. {{ question.choice_c }}
                            {% if question.choice_c_image %}
                            <img src="{{ url_for('static', filename='img/uploads/question/' ~ question.choice_c_image) }}" alt="Choice C Image" style="width: 100px; height: auto;">
                            {% endif %}                          
                        </label>
                    </div>
            
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question_{{ question.question_id }}" id="choice_d_{{ question.question_id }}" value="d">
                        <label class="form-check-label" for="choice_d_{{ question.question_id }}">
                            D. {{ question.choice_d }}
                            {% if question.choice_d_image %}
                            <img src="{{ url_for('static', filename='img/uploads/question/' ~ question.choice_d_image) }}" alt="Choice D Image" style="width: 100px; height: auto;">
                            {% endif %}                           
                        </label>
                    </div>
                    {% endfor %}
            
                    <div class="d-flex justify-content-center" style="margin-top: 2rem;">
                        <button type="submit" class="btn btn-primary">ส่งข้อสอบ</button>
                    </div>
                </form>
                {% else %}
                <p>No questions found for this quiz.</p>
                {% endif %}
            </section>
            
        </div>
        {% include 'components/sidebar-quiz_video.html' %}
    </div>
</div>

<!-- Include SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Custom Script -->
<script>

    var next_element = {{next_element|tojson}};
    var video = {{video|tojson}};

    function finish_course(video){
        $.ajax({
            url: '/finish_course',
            type: 'PATCH',
            contentType: 'application/json',
            data: JSON.stringify({
                course_id: video.id
            }),
            success: function(response) {
                if ( !response.success){
                    Swal.fire({
                        title: 'มีบางอย่างผิดปกติ!',
                        text: `กรุณาติดต่อผู้ดูแลระบบ.`,
                        icon: 'error',
                        confirmButtonText: 'ปิด',
                    })
                }

                if (response.passed) {
                    Swal.fire({
                        title: '🎉🎉 Congratulations!! 🎉🎉',
                        text: 'You have finished this course!',
                        iconHtml: `<div>🎉</div>`,
                        html: `<p>You have passed all the test!</p>
                                <a href="${response.certificate_url}" download="certificate.png">
                                    <img src="${response.certificate_url}" alt="Certificate" style="width:100%;max-width:1400px;"/>
                                </a>
                                <div class="d-flex justify-content-end mt-4">
                                    <a id="downloadCertificateLink" href="${response.certificate_url}" download="certificate.png" class="btn btn-success mx-2 btn-sm">
                                        Download Certificate
                                    </a>
                                    <a href="{{ url_for('course_details', slug=video.slug) }}" class="btn btn-secondary mx-2 btn-sm">
                                        Close
                                    </a>
                                </div>
                            `,
                        showConfirmButton: false,
                        width: '700px'
                    });                                  
                }else{
                    Swal.fire({
                        title: 'ผลการตรวจผิดผลาด!',
                        text: 'คุณไม่ผ่านการทดสอบทั้งหมด โปรดลองอีกครั้ง',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                Swal.fire({
                    title: 'มีบางอย่างผิดปกติ!',
                    text: `'Error:': ${error}'}`,
                    icon: 'error',
                    confirmButtonText: 'ปิด',
                })
            }
        });
    }

    document.getElementById('quizform').addEventListener('submit', function(e) {
        e.preventDefault(); // ป้องกันการส่งแบบฟอร์มเดิม
        
        // เก็บข้อมูลฟอร์ม
        const formData = new FormData(e.target);
        // ส่งข้อมูลฟอร์มไปยังเซิร์ฟเวอร์ด้วย fetch
        fetch(e.target.action, {
            method: 'POST',
            body: formData
        })
        .then(response  => response.json())
        .then(data  => {
            if (data.passed && next_element.element_id == null){
                // is last post-test
                finish_course(video)
            }
            else if(data.passed){
                Swal.fire({
                    title: 'ผลการทำข้อสอบ!',
                    text: `คุณได้คะแนน: ${data.score} คะแนน\n${data.passed ? '(ผ่าน)' : '(ไม่ผ่าน)'}`,
                    icon: 'success',
                    confirmButtonText: 'ต่อไป',
                }).then((result) => {
                    
                    if (result.isConfirmed) {
                        if (next_element.element_type == 'video'){
                            var nextPageUrl = `{{ url_for('watch_video', slug='__SLUG__', video_id='__ELEMENT_ID__') }}`
                                    .replace('__SLUG__', video.slug)
                                    .replace('__ELEMENT_ID__', next_element.element_id);;
                        } else if (next_element.element_type == 'quiz'){
                            var nextPageUrl = "{{ url_for('take_quiz', slug='__SLUG__', quiz_id='__ELEMENT_ID__') }}"
                                    .replace('__SLUG__', video.slug)
                                    .replace('__ELEMENT_ID__', next_element.element_id);;
                        }else{
                            alert('invalid element type')
                            return
                        }
                        window.location.href = nextPageUrl;
                    }
                });

            }else{
                Swal.fire({
                    title: 'ผลการทำข้อสอบ!',
                    text: `คุณได้คะแนน: ${data.score} คะแนน\n${data.passed ? '(ผ่าน)' : '(ไม่ผ่าน)'}`,
                    icon: 'error',
                    confirmButtonText: 'ปิด',
                }).then(() => {
                    // Reset form and allow retry
                    location.reload(); // Resets the form for a new attempt
                });
            }
        })
        .catch(error => {
            console.error('เกิดข้อผิดพลาด:', error);
        });
    });
</script>

    

{% endblock %}
