{% extends 'base.html' %}
{% block title %}Watch - {{ video.title }}{% endblock %}
{% block content %}

<!-- NAVBAR
    ================================================== -->
<header class="bg-white py-3">
    <div class="px-5 px-lg-8 w-100">
        <div class="d-md-flex align-items-center">
            <!-- Brand -->
            <a class="navbar-brand mb-2 mb-md-0" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='img/logo/logo POP2.png') }}" class="navbar-brand-img" alt="...">
            </a>

            <!-- Lesson Title -->
            {% if video %}
            <div class="mx-auto mb-5 mb-md-0">
                <h3 class="mb-0 line-clamp-2 text-black">{{ video.category_name }}: {{ video.title }}</h3>
            </div>
            {% else %}
            <p>Video not found.</p>
            {% endif %}

            <!-- Back to Course -->
            <a href="{{ url_for('course_details', slug=video.slug) }}" class="btn btn-sm btn-orange ms-md-6 px-6 mb-3 mb-md-0 flex-shrink-0">Back to Course</a>
        </div>
    </div>
</header>

<div class="position-absolute right-0 left-0 top-0 bottom-0 d-none d-md-block" style="margin-top: 5%;">
    <div class="cs-parallax">
        <div class="cs-parallax-layer" data-depth="0.1">
            <img class="img-fluid" src="/static/img/parallax/layer-01.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.3">
            <img class="img-fluid" src="/static/img/parallax/layer-02.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.2">
            <img class="img-fluid" src="/static/img/parallax/layer-03.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.2">
            <img class="img-fluid" src="/static/img/parallax/layer-04.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.4">
            <img class="img-fluid" src="/static/img/parallax/layer-05.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.3">
            <img class="img-fluid" src="/static/img/parallax/layer-06.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.2">
            <img class="img-fluid" src="/static/img/parallax/layer-07.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.2">
            <img class="img-fluid" src="/static/img/parallax/layer-08.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.4">
            <img class="img-fluid" src="/static/img/parallax/layer-09.svg" alt="Layer">
        </div>
        <div class="cs-parallax-layer" data-depth="0.3">
            <img class="img-fluid" src="/static/img/parallax/layer-10.svg" alt="Layer">
        </div>
    </div>
</div>

<!-- COURSE
    ================================================== -->
<div class="container container-wd">
    <div class="row pt-8 pb-10">
        <div class="col-lg-8">
            <h2 class="font-size-xl mb-6">
                {{ video.video_title }}
            </h2>

            <div class="embed-responsive embed-responsive-16by9">
                <div id="player" class="embed-responsive-item"></div>
            </div>

            <div class="progress" style="margin-top: 1%;">
                <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
            </div>

            <div class="d-flex align-items-center mb-4">
                <label for="volume-slider" class="me-2">Volume:</label>
                <input id="volume-slider" type="range" min="0" max="100" value="50" class="me-2">
            
                <div class="ms-auto">
                    <button onclick="watchAgain()" class="btn btn-outline-blue btn-sm d-flex align-items-center btn-block mw-md-280p justify-content-center mt-0">
                        Watch Again
                    </button>
                </div>
            </div>

            <h3 class="text-white">Course Description</h3>
            {% if video and video.video_description %}
            <p class="mb-6 line-height-md">{{ video.video_description[:148] }}</p>

            <p class="collapse mb-6 line-height-md" id="readcollapseExample">{{ video.video_description[148:3000] }}</p>
            {% else %}
            <p>Description not available.</p>
            {% endif %}
            <a class="text-teal read-more h6 d-inline-block mb-8" data-bs-toggle="collapse" href="#readcollapseExample"
                role="button" aria-expanded="false" aria-controls="readcollapseExample">
                <span class="d-inline-flex align-items-center more">
                    Read More
                    <span
                        class="d-flex align-items-center justify-content-center bg-teal rounded-circle ms-2 p-2 w-26p">
                        <i class="fas fa-plus font-size-10 text-white"></i>
                    </span>
                </span>
                <span class="d-inline-flex align-items-center less">
                    Read Less
                    <span
                        class="d-flex align-items-center justify-content-center bg-teal rounded-circle ms-2 p-2 w-26p">
                        <i class="fas fa-minus font-size-10 text-white"></i>
                    </span>
                </span>
            </a>

            <div class="d-md-flex align-items-center justify-content-between">
                <a href="#"
                    class="btn btn-blue d-flex align-items-center mb-5 mb-md-0 btn-block mw-md-280p justify-content-center">
                    <i class="fas fa-arrow-left font-size-xs"></i>
                    <span class="ms-3">Previous</span>
                </a>
                <a id="nextBtn" href="#"
                    class="btn btn-blue d-flex align-items-center btn-block mw-md-280p justify-content-center mt-0">
                    <span class="me-3">Next</span>
                    <i class="fas fa-arrow-right font-size-xs"></i>
                </a>
            </div>
        </div>
        {% include 'components/sidebar-quiz_video.html' %}
    </div>
</div>

<!-- Include SweetAlert library -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    // Load the IFrame Player API code asynchronously.
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    var hasWatchedVideo = false;
    var userId = '{{ current_user.id if current_user.is_authenticated else '' | tojson | safe }}';
    var next_element = {{ next_element|tojson }};
    var video = {{ video|tojson }};

    function goNextLession() {
        if (video.passed == 1) {
            var nextPageUrl;

            if (next_element.element_type == 'video') {
                nextPageUrl = "{{ url_for('watch_video', slug=video.slug, video_id=next_element.element_id) }}";
            } else if (next_element.element_type == 'quiz') {
                nextPageUrl = "{{ url_for('take_quiz', slug=video.slug, quiz_id=next_element.element_id) }}";
            } else {
                alert('invalid element type');
                return;
            }
            window.location.href = nextPageUrl;
        } else {
            Swal.fire({
                title: 'บนเรียนยังไม่จบ!',
                text: 'คุณต้องดูวิดีโอของบทเรียนนี้ให้จบเพื่อยังไปบทเรียนต่อไป',
                icon: 'warning',
                confirmButtonText: 'OK',
            });
        }
    }

    if (userId) {
        function onYouTubeIframeAPIReady() {
            var playerVars = {
                'controls': 1,
                'disablekb': 1,
                'rel': 0,
                'modestbranding': 1,
                'start': getStartPoint(),
                'vq': 'hd1080'
            };

            if (!video.passed) {
                playerVars['controls'] = 0;
            }

            player = new YT.Player('player', {
                height: '100%',
                width: '100%',
                videoId: '{{ video.youtube_link }}',
                playerVars: playerVars,
                events: {
                    'onStateChange': onPlayerStateChange,
                    'onReady': onPlayerReady
                }
            });
        }

        function onPlayerReady(event) {
            var savedTime = localStorage.getItem('videoTime_' + userId + '_{{ video.youtube_link }}');
            if (savedTime) {
                player.seekTo(parseFloat(savedTime));
            }

            setInterval(updateProgressBar, 1000);
        
            var volumeSlider = document.getElementById('volume-slider');
            volumeSlider.addEventListener('input', function() {
                player.setVolume(volumeSlider.value);
            });

            startVideo();
            startReminderTimer();
        }
        
        function startReminderTimer() {
            setTimeout(function() {
                if (player && player.getPlayerState() === YT.PlayerState.PLAYING) {
                    player.pauseVideo();
                    Swal.fire({
                        title: 'การแจ้งเตือน!',
                        text: 'กรุณาดูวิดีโอต่อเพื่อความสำเร็จของบทเรียนนี้',
                        icon: 'info',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            player.playVideo();
                            startReminderTimer();
                        }
                    });
                }
            }, 180000);
        }

        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING) {
                player.setPlaybackQuality('hd1080');
                console.log('Current quality:', player.getPlaybackQuality());
            }
            if (event.data == YT.PlayerState.ENDED) {
                hasWatchedVideo = true;
                document.getElementById('progress-bar').style.width = '100%';
                document.getElementById('progress-bar').textContent = '100%';
                document.getElementById('progress-bar').classList.add('bg-success');
                sendVideoStatus()
                    .then(response => response.json())
                    .then(data => {
                        if (data.next_video_unlocked) {
                            video.passed = 1;
                            localStorage.removeItem('videoTime_' + userId + '_{{ video.youtube_link }}');

                            Swal.fire({
                                title: 'วิดีโอเสร็จสมบูรณ์!',
                                text: 'คุณดูวิดีโอจบแล้ว ตอนนี้คุณสามารถดำเนินการต่อหรือดูอีกครั้ง',
                                icon: 'success',
                                showCancelButton: true,
                                confirmButtonText: 'ไปที่บทเรียนถัดไป',
                                cancelButtonText: 'ดูอีกครั้ง'
                            }).then(result => {
                                if (result.isConfirmed) {
                                    goNextLession();
                                } else if (result.dismiss === Swal.DismissReason.cancel) {
                                    watchAgain();
                                }
                            });
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            }
        }

        function updateProgressBar() {
            if (player && player.getDuration) {
                var duration = player.getDuration();
                var currentTime = player.getCurrentTime();
                var percentage = (currentTime / duration) * 100;
                var progressBar = document.getElementById('progress-bar');
                progressBar.style.width = percentage + '%';
                progressBar.textContent = Math.floor(percentage) + '%';
                localStorage.setItem('videoTime_' + userId + '_{{ video.youtube_link }}', currentTime);
            }
        }

        function preventNavigation(event) {
            if (!hasWatchedVideo) {
                event.preventDefault();
                event.returnValue = 'คุณต้องดูวิดีโอทั้งหมดก่อนที่จะออกจากหน้านี้';
            }
        }

        window.addEventListener('beforeunload', preventNavigation);

        function getStartPoint() {
            var savedTime = localStorage.getItem('videoTime_' + userId + '_{{ video.youtube_link }}');
            return savedTime ? parseFloat(savedTime) : 0;
        }

        function watchAgain() {
            hasWatchedVideo = false;
            player.seekTo(0);
            player.playVideo();
            document.getElementById('progress-bar').style.width = '0%';
            document.getElementById('progress-bar').textContent = '0%';
            document.getElementById('progress-bar').classList.remove('bg-success');
            Swal.fire({
                title: 'ดูอีกครั้ง!',
                text: 'สนุกกับการดูวิดีโออีกครั้ง',
                icon: 'info',
                confirmButtonText: 'OK'
            });
        }

        function startVideo() {
            fetch('/start_video', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    video_id: '{{ video.video_id }}',
                    lesson_id: '{{ lesson_id }}'
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Video started:', data);
            })
            .catch((error) => {
                console.error('Error starting video:', error);
            });
        }

        function sendVideoStatus() {
            return fetch('/update_video_status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    video_id: '{{ video.video_id }}',
                    lesson_id: '{{ lesson_id }}',
                    status: 'completed'
                })
            });
        }
    } else {
        console.error('User ID is undefined.');
    }
    
    $(document).ready(function() {
        $('#nextBtn').on('click', function() {
            goNextLession();
        });
    });
</script>



<style>
.progress {
    height: 20px;
    margin-bottom: 20px;
}
.progress-bar {
    background-color: #007bff;
    transition: width 0.4s ease;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-bar.bg-success {
    background-color: #28a745 !important;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
</style>

{% endblock %}
