{% extends 'base_dashboard.html' %}
{% block title %}รายชื่อผู้สอบ{% endblock %}
{% block content %}
{% include 'components/sidebar_dashboard.html' %}
{% include 'components/control-sidebar_dashboard.html' %}

<div class="content-wrapper" style="min-height: 1416px;">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>รายชื่อผู้สอบ</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">                          
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            <ul class="flashes">
                                {% for category, message in messages %}
                                <script type="text/javascript">
                                    document.addEventListener("DOMContentLoaded", function () {
                                        Swal.fire({
                                            title: "{{ message }}",
                                            icon: "{{ 'success' if category == 'success' else 'error' }}",
                                        });
                                    });
                                </script>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endwith %}
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr class="table-info">
                                        <th style="width: 3%">No.</th>
                                        <th style="width: 10%">ชื่อ-สกุล</th>
                                        <th style="width: 10%">แบบทดสอบ</th>
                                        <th style="width: 10%">บทเรียน</th>
                                        <th style="width: 5%">ว/ด/ป</th>
                                        <th style="width: 3%">เปิดดู</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for attempts in data %}
                                    <tr>
                                        <td>{{ loop.index }}</td> 
                                        <td>
                                            {% for user in user_data %}
                                                {% if user[0] == attempts[1] %}
                                                    {{ user[1] }} {{ user[2] }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>  
                                        <td>
                                            {% for quiz in quiz_data %}
                                                {% if quiz[0] == attempts[2] %}
                                                    {{ quiz[1] }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for lesson in lesson_data %}
                                                {% if lesson[0] == attempts[3] %}
                                                    {{ lesson[1] }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{ attempts[5] }}</td>
                                        <td align="center"><a class="btn btn-info btn-sm"
                                            href="/view_attempts/{{ attempts[0] }}">
                                            <i class="fa fa-eye"></i> View
                                        </td>                                                                             
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<!-- jQuery -->
<script src="/static/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables & Plugins -->
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/static/plugins/jszip/jszip.min.js"></script>
<script src="/static/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/static/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/dist/js/adminlte.min.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": true,
            "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
</body>

{% include 'components/footer_dashboard.html' %}
{% endblock %}