{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}


<!-- PAGE TITLE -->
<header class="py-8 py-md-11" style="background-image: none;">
    <div class="container text-center py-xl-2">
        <div class="text-center mt-4">
            <img class="img-fluid" src="/static/img/logo/logo POP2.png" alt="Login Image" style="width: 150px; height: auto;">
        </div>
        <h1 class="display- fw-semi-bold mb-0">Login</h1>
        <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                <li class="breadcrumb-item">
                    <a class="text-gray-800" href="#">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                    Login
                </li>
            </ol>
        </nav> -->
    </div>
    <!-- Img -->
    <img class="d-none img-fluid" src="...html" alt="...">
</header>

<!-- LOGIN -->
<div class="container mb-11">
    <div class="row gx-0">
        <div class="col-md-7 col-xl-4 mx-auto">
            <!-- Login -->
            <h3 class="mb-6">Log In to Your POP Account!</h3>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                <script type="text/javascript">
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: "{{ category }}",
                        title: "{{ message }}"
                    });
                </script>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <!-- Form Login -->
            <form action="{{ url_for('login') }}" method="post" onsubmit="showLoadingOverlay()">
                <!-- Email -->
                <div class="form-group mb-5">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                </div>

                <!-- Password -->
                <div class="form-group mb-5">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="**********">
                </div>

                <div class="d-flex align-items-center mb-5 font-size-sm">
                    <!-- <div class="form-check">
                        <input class="form-check-input text-gray-800" type="checkbox" id="autoSizingCheck1" name="remember_me" value="1" {% if remember_me == 'true' %}checked{% endif %}>
                        <label class="form-check-label text-gray-800" for="autoSizingCheck1">Remember me</label>
                    </div> -->
                    

                    <div class="ms-auto">
                        <a class="text-gray-800" href="reset_password">Forgot Password</a>
                    </div>
                </div>

                <!-- Submit -->
                <button class="btn btn-block btn-primary" value="alert" name="user_id" type="submit">LOGIN</button>
            </form>

            <!-- Text -->
            <p class="mb-0 font-size-sm text-center">
                Don't have an account? <a class="text-underline" href="{{ url_for('register') }}">Sign up</a>
            </p>
        </div>
    </div>
</div>


{% endblock %}
