{% extends 'base_dashboard.html' %}
{% block title %}อัพเดตรหัสผ่าน{% endblock %}
{% block content %}
{% include 'components/sidebar_dashboard.html' %}
{% include 'components/control-sidebar_dashboard.html' %}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>จัดการ รหัสผ่าน</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">ฟอร์มแก้ไขข้อมูล</h3>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function () {
                            Swal.fire({
                                title: "{{ message }}",
                                icon: "{{ 'success' if category == 'success' else 'error' }}",
                            });
                        });
                    </script>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <form method="post" action="{{ url_for('edit_password_admin', id=admin[0]) }}" id="profileForm">
                <div class="card-body">
                    <div class="form-group row mb-4">
                        <label for="name" class="col-sm-2 col-form-label">ชื่อ-สกุล</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="name" value="{{ admin[1] }} {{ admin[2] }}" readonly>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="password" class="col-sm-2 col-form-label">รหัสผ่านใหม่</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="password" name="password" placeholder="กรอกรหัสผ่านใหม่">
                            <span style="margin-right: 10px; color:red; font-size:small">*รหัสผ่านต้องมีอย่างน้อย 8 ตัวอักษร, มีพิมพ์ใหญ่, พิมพ์เล็ก และตัวเลข</span>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label for="confirm_password" class="col-sm-2 col-form-label">ยืนยันรหัสผ่าน</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="ยืนยันรหัสผ่าน">
                        </div>
                    </div>                    
                    <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary">อัปเดตรหัสผ่าน</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

{% include 'components/footer_dashboard.html' %}
{% endblock %}
