{% extends 'base_dashboard.html' %}
{% block title %}เพิ่มผู้ดูแลระบบ{% endblock %}
{% block content %}
{% include 'components/sidebar_dashboard.html' %}
{% include 'components/control-sidebar_dashboard.html' %}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>จัดการข้อมูลผู้ดูแลระบบ/Admin</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">ฟอร์มเพิ่มข้อมูล</h3>
            </div>
            <div class="card-body">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function () {
                            Swal.fire({
                                title: "{{ message }}",
                                icon: "{{ category }}",
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "{{ url_for('admin_table') }}";
                                }
                            });
                        });
                    </script>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <form method="post" action="{{ url_for('insert_admin') }}" id="profileForm" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="first_name" class="col-sm-2 col-form-label">ชื่อจริง</label>
                        <div class="col-sm-3" required>
                            <input type="text" class="form-control" id="first_name" placeholder="กรุณากรอกชื่อ"
                                name="first_name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="last_name" class="col-sm-2 col-form-label">นามสกุล</label>
                        <div class="col-sm-3" required>
                            <input type="text" class="form-control" id="last_name" placeholder="กรุณากรอกนามสกุล"
                                name="last_name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label">ชื่อผู้ใช้</label>
                        <div class="col-sm-3" required>
                            <input type="text" class="form-control" id="username" placeholder="กรอกชื่อผู้ใช้"
                                name="username">
                            <span style="margin-right: 10px; color:red; font-size:small">*ชื่อผู้ใช้จะต้องประกอบด้วยตัวอักษรและตัวเลขเท่านั้น!</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">อีเมล์</label>
                        <div class="col-sm-3" required>
                            <input type="email" class="form-control" id="email" placeholder="กรอกอีเมล์" name="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label">รหัสผ่าน</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" id="password" placeholder="กรอกรหัสผ่าน"
                                name="password" required>
                            <span style="margin-right: 10px; color:red; font-size:small">*รหัสผ่านต้องมีอย่างน้อย 8 ตัวอักษร, มีพิมพ์ใหญ่, พิมพ์เล็ก และตัวเลข</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tel" class="col-sm-2 col-form-label">เบอร์โทร</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="tel" placeholder="กรอกหมายเลขโทรศัพท์" name="tel"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="gender" class="col-sm-2 col-form-label">เพศ</label>
                        <div class="col-sm-2">
                            <select id="gender" name="gender" class="form-control form-select" aria-label="Gender select" required>
                                <option selected disabled value="">--โปรดเลือกตัวเลือก--</option>
                                <option value="Male">ชาย</option>
                                <option value="Female">หญิง</option>
                            </select>
                        </div>
                    </div>                                                  
                    <div class="form-group row">
                        <label for="adminimage" class="col-sm-2 col-form-label">เลือกภาพ</label>
                        <div class="col-sm-3">
                            <input type="file" class="form-control" id="adminimage" name="adminimage" required>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-success">เพิ่มข้อมูลแอดมิน</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#profileForm').on('submit', function (e) {
            e.preventDefault(); // ป้องกันการรีเฟรชหน้าจอ

            $.ajax({
                type: 'POST',
                url: "{{ url_for('insert_admin') }}",
                data: new FormData(this),
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.status === 'success') {
                        Swal.fire({
                            title: response.message,
                            icon: 'success',
                        }).then(() => {
                            window.location.href = "{{ url_for('admin_table') }}";
                        });
                    } else {
                        Swal.fire({
                            title: response.message,
                            icon: response.status,
                        });
                    }
                },
                error: function (xhr, status, error) {
                    Swal.fire({
                        title: 'เกิดข้อผิดพลาด',
                        text: xhr.responseText || 'An unexpected error occurred',
                        icon: 'error',
                    });
                }
            });
        });
    });
</script>


<script>
    $(document).ready(function () {
        // File type validation
        $("#adminimage").change(function () {
            var file = this.files[0];
            var imagefile = file.type;
            var match = ["image/jpeg", "image/png", "image/jpg", "image/gif"];
            if (!((imagefile == match[0]) || (imagefile == match[1]) || (imagefile == match[2]) || (imagefile == match[3]))) {
                Swal.fire({
                    icon: 'error',
                    title: 'ประเภทไฟล์ไม่ถูกต้อง',
                    text: 'กรุณาอัปโหลดไฟล์รูปภาพที่ถูกต้อง (JPEG/JPG/PNG/GIF)',
                });
                $("#adminimage").val('');
                return false;
            }
        });
    });
</script>

{% include 'components/footer_dashboard.html' %}
{% endblock %}
