{% extends 'base_dashboard.html' %}
{% block title %}แก้ไขผู้ดูแลระบบ{% endblock %}
{% block content %}
{% include 'components/sidebar_dashboard.html' %}
{% include 'components/control-sidebar_dashboard.html' %}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>จัดการข้อมูลผู้ดูแลระบบ/Admin</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">ฟอร์มแก้ไขข้อมูล</h3>
            </div>
            <div class="card-body">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function () {
                            Swal.fire({
                                title: "{{ message }}",
                                icon: "{{ category }}",                          
                            });
                        });
                    </script>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}

                <form method="post" action="{{ url_for('updated_admin') }}" enctype="multipart/form-data">
                    <input type="hidden" id="id" name="id" value="{{ admin[0] }}">

                    <div class="form-group row">
                        <label for="first_name" class="col-sm-2 col-form-label">ชื่อจริง</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="first_name" name="first_name"
                                placeholder="กรุณากรอกชื่อ" value="{{ admin[1] }}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="last_name" class="col-sm-2 col-form-label">นามสกุล</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="last_name" name="last_name"
                                placeholder="กรุณากรอกนามสกุล" value="{{ admin[2] }}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label">ชื่อผู้ใช้</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="username" name="username"
                                placeholder="กรอกชื่อผู้ใช้" value="{{ admin[3] }}" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">อีเมล์</label>
                        <div class="col-sm-3">
                            <input type="email" class="form-control" id="email" name="email" placeholder="กรอกอีเมล์"
                                value="{{ admin[4] }}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tel" class="col-sm-2 col-form-label">เบอร์โทร</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="tel" name="tel" placeholder="กรอกเบอร์โทร"
                                value="{{ admin[5] }}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="birth" class="col-sm-2 col-form-label">วันเกิด</label>
                        <div class="col-sm-2">
                            <input type="date" class="form-control" id="birth" name="birth"
                                placeholder="วันเกิด" value="{{ admin[6] }}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="gender" class="col-sm-2 col-form-label">เพศ</label>
                        <div class="col-sm-2">
                            <select id="gender" name="gender" class="form-control form-select" aria-label="Gender select">
                                <option disabled value="">--โปรดเลือกตัวเลือก--</option>
                                <option value="Male" {% if admin[8] == 'Male' %}selected{% endif %}>ชาย</option>
                                <option value="Female" {% if admin[8] == 'Female' %}selected{% endif %}>หญิง</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="adminimage" class="col-sm-2 col-form-label">ภาพโปรไฟล์ (ผู้ดูแลระบบ)</label>
                        <div class="col-sm-3">
                            {% if admin[11] %}
                                    <span style="margin-right: 10px;">ภาพเก่า</span>
                                    <div>
                                        <img src="{{ url_for('static', filename=admin[11]) }}" alt="Admin Image" style="width: 100px; height: auto;">
                                    </div>
                                    <span style="margin-right: 10px; color:red;">*เลือกใหม่ทุกครั้งที่อัปเดต</span>
                            {% endif %}
                            <input type="file" class="form-control" id="adminimage" name="adminimage" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary">อัปเดตข้อมูลแอดมิน</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        function validateFileInput(fileInput) {
            const allowedExtensions = ['jpg', 'jpeg', 'png', 'gif']; // เพิ่มประเภทไฟล์อื่น ๆ หากต้องการ
            const file = fileInput.files[0];
            if (file) {
                const fileExtension = file.name.split('.').pop().toLowerCase();
                if (!allowedExtensions.includes(fileExtension)) {
                    Swal.fire({
                        icon: 'error',
                        title: 'ประเภทไฟล์ไม่ถูกต้อง',
                        text: 'กรุณาอัปโหลดไฟล์รูปภาพที่ถูกต้อง (JPEG/JPG/PNG/GIF)',
                        confirmButtonText: 'ตกลง'
                    });
                    fileInput.value = ""; // เคลียร์ข้อมูลในฟิลด์
                    return false;
                }
            }
            return true;
        }

        document.getElementById('adminimage').addEventListener('change', function () {
            validateFileInput(this);
        });
    });
</script>

{% include 'components/footer_dashboard.html' %}
{% endblock %}
