{% extends 'base_dashboard.html' %}
{% block title %}Instructor Dashboard{% endblock %}
{% block content %}
{% include 'components/sidebar_dashboard.html' %}
{% include 'components/control-sidebar_dashboard.html' %}

<div class="content-wrapper">

  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">แดชบอร์ด || อาจารย์ผู้สอน</h1>
          <!-- Script for SweetAlert -->
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <ul class="flashes">
            {% for category, message in messages %}
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            <script type="text/javascript">
              const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.onmouseenter = Swal.stopTimer;
                  toast.onmouseleave = Swal.resumeTimer;
                }
              });
              Toast.fire({
                icon: "{{category}}",
                title: "{{message}}"
              });
            </script>
            {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-lg-3 col-6">

        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ total_students_successfully }}</h3>
            <p>ผู้เรียนที่เรียนสำเร็จ</p>
          </div>
          <div class="icon">
            <i class="fa fa-user-check"></i>
          </div>
          <a href="/course_enroll_student" class="small-box-footer">รายละเอียด <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">

        <div class="small-box bg-olive">
          <div class="inner">
            <h3>{{ total_students_studying }}</h3>
            <p>ผู้เรียนที่กำลังเรียนอยู่</p>
          </div>
          <div class="icon">
            <i class="fa fa-chalkboard-teacher">‌</i>
          </div>
          <a href="/course_enroll_student" class="small-box-footer">รายละเอียด <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">

        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ course_count }}<sup style="font-size: 20px"></sup></h3>
            <p>หลักสูตร (รายการ)</p>
          </div>
          <div class="icon">
            <i class="fa fa-book"></i>
          </div>
          <a href="/course_table" class="small-box-footer">รายละเอียด <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">

        <div class="small-box bg-primary">
          <div class="inner">
            <h3>{{ total_students  }}</h3>
            <p>ผู้เรียนทั้งหมด</p>
          </div>
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
          <a href="/course_enroll_student" class="small-box-footer">รายละเอียด <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      
    </div>
    <a class="day btn btn-outline-success"><i class="fa fa-signal"></i> รายวัน</a>
    <a class="month btn btn-outline-danger"><i class="fa fa-signal"></i> รายเดือน</a>
    <a class="year btn btn-outline-info"><i class="fa fa-signal"></i> รายปี</a>
    <style>
      .charts-container {
        display: flex;
        flex-wrap: wrap;
      }
    
      .highcharts-figure {
        margin: 1%; /* Add margin to separate the figures */
      }
    
      @media (max-width: 768px) {
        .col-lg-6, .col-lg-6 {
          width: 100%;
        }
      }
    </style>
    
    <!-- Highcharts container -->
    <div class="charts-container row" style="margin-top: 3%;">
      <!-- First chart with 8 columns -->
      <div class="col-lg-6">
        <figure class="highcharts-figure">
          <div id="container" style="width:100%; height: 400px;"></div>
          <p class="highcharts-description">
          </p>
        </figure>
      </div>
    
      <!-- Second chart with 4 columns -->
      <div class="col-lg-6">
        <figure class="highcharts-figure">
          <div id="container1" style="width:100%; height: 400px;"></div>
          <p class="highcharts-description"></p>
        </figure>
      </div>
    </div>
    
   
    <!-- Highcharts scripts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
          // Prepare the data for Highcharts
          const preTestScores = {{ pre_test_score | tojson }};
          const postTestScores = {{ post_test_score | tojson }};
          
          // Extract course titles and scores
          const categories = preTestScores.map(score => score.name);
          const preTestData = preTestScores.map(score => parseFloat(score.y));
          const postTestData = postTestScores.map(score => parseFloat(score.y));

  
          console.log(categories);
          console.log(preTestData);
          console.log(postTestData);
  
          Highcharts.chart('container1', {
              chart: {
                  type: 'bar'
              },
              title: {
                  text: 'คะแนนเฉลี่ย Pre-Test และ Post-Test แต่ละหลักสูตร'
              },
              xAxis: {
                  categories: categories,
                  title: {
                      text: null
                  },
                  gridLineWidth: 1,
                  lineWidth: 0
              },
              yAxis: {
                  min: 0,
                  title: {
                      text: 'คะแนนเฉลี่ย (คะแนน)',
                      align: 'high'
                  },
                  labels: {
                      overflow: 'justify'
                  },
                  gridLineWidth: 0
              },
              tooltip: {
                  valueSuffix: ' คะแนน'
              },
              plotOptions: {
                  bar: {
                      borderRadius: '50%',
                      dataLabels: {
                          enabled: true
                      },
                      groupPadding: 0.1
                  }
              },
              series: [{
                  name: 'Pre-Test',
                  data: preTestData
              }, {
                  name: 'Post-Test',
                  data: postTestData
              }]
          });
      });
  </script>
  
  

    <!-- Create the chart -->
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        // Function to initialize the chart
        function initializeChart(data) {
          Highcharts.chart('container', {
            chart: {
              type: 'column'
            },
            title: {
              align: 'center',
              text: 'จำนวนการเข้าเรียนแยกตามวัน'
            },
            subtitle: {
              align: 'center',
              text: 'นับจำนวนแยกตามรายวิชา'
            },
            accessibility: {
              announceNewData: {
                enabled: true
              }
            },
            xAxis: {
              type: 'category'
            },
            yAxis: {
              title: {
                text: 'จำนวนการเข้าเรียน (ครั้ง)'
              }
            },
            legend: {
              enabled: false
            },
            plotOptions: {
              series: {
                borderWidth: 0,
                dataLabels: {
                  enabled: true,
                  format: '<span style="color:blue">{point.y} ครั้ง</span>'
                }
              }
            },
            tooltip: {
              headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
              pointFormat: '<span style="color:{point.color}">{point.name}</span>: ' +
                '<b>{point.y} ครั้ง</b> of total<br/>'
            },
            series: [{
              name: 'จำนวนการเข้าเรียน',
              colorByPoint: true,
              data: data,
            }],
          });
        }
      
        // Initial chart data (daily data)
        initializeChart({{ chart_enroll_list_daily | tojson | safe }});
      
        // Function to update chart based on button click
        function updateChart(data, titleText, subtitleText) {
          Highcharts.chart('container', {
            chart: {
              type: 'column'
            },
            title: {
              align: 'center',
              text: titleText
            },
            subtitle: {
              align: 'center',
              text: subtitleText
            },
            accessibility: {
              announceNewData: {
                enabled: true
              }
            },
            xAxis: {
              type: 'category'
            },
            yAxis: {
              title: {
                text: 'จำนวนการเข้าเรียน (ครั้ง)'
              }
            },
            legend: {
              enabled: false
            },
            plotOptions: {
              series: {
                borderWidth: 0,
                dataLabels: {
                  enabled: true,
                  format: '<span style="color:blue">{point.y} ครั้ง</span>'
                }
              }
            },
            tooltip: {
              headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
              pointFormat: '<span style="color:{point.color}">{point.name}</span>: ' +
                '<b>{point.y} ครั้ง</b> of total<br/>'
            },
            series: [{
              name: 'จำนวนการเข้าเรียน',
              colorByPoint: true,
              data: data,
            }],
          });
        }
      
        // Button click event handlers
        document.querySelector('.day').addEventListener('click', function (e) {
          e.preventDefault();
          updateChart({{ chart_enroll_list_daily | tojson | safe }}, 'จำนวนการเข้าเรียนแยกตามวัน', 'นับจำนวนแยกตามรายวิชา');
        });
      
        document.querySelector('.month').addEventListener('click', function (e) {
          e.preventDefault();
          updateChart({{ chart_enroll_list_monthly | tojson | safe }}, 'จำนวนการเข้าเรียนแยกตามเดือน', 'นับจำนวนแยกตามรายวิชา');
        });
      
        document.querySelector('.year').addEventListener('click', function (e) {
          e.preventDefault();
          updateChart({{ chart_enroll_list_yearly | tojson | safe }}, 'จำนวนการเข้าเรียนแยกตามปี', 'นับจำนวนแยกตามรายวิชา');
        });
      
      });
    </script>

  </div>
</div>

{% include 'components/footer_dashboard.html' %}
{% endblock %}
