{% extends 'base_dashboard.html' %}
{% block title %}แก้ไขผู้สอน{% endblock %}
{% block content %}
{% include 'components/sidebar_dashboard.html' %}
{% include 'components/control-sidebar_dashboard.html' %}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>จัดการข้อมูลผู้สอน/Instructor</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">ฟอร์มแก้ไขข้อมูล</h3>
            </div>
            <div class="card-body">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function () {
                            Swal.fire({
                                title: "{{ message }}",
                                icon: "{{ category }}",                          
                            });
                        });
                    </script>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}

                <form method="post" action="{{ url_for('updated_instructor') }}" enctype="multipart/form-data">
                    <input type="hidden" id="id" name="id" value="{{ instructor[0] }}">

                    <div class="form-group row">
                        <label for="first_name" class="col-sm-2 col-form-label">ชื่อจริง</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="first_name" name="first_name"
                                placeholder="กรุณากรอกชื่อ" value="{{ instructor[1] }}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="last_name" class="col-sm-2 col-form-label">นามสกุล</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="last_name" name="last_name"
                                placeholder="กรุณากรอกนามสกุล" value="{{ instructor[2] }}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label">ชื่อผู้ใช้</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="username" name="username"
                                placeholder="กรอกชื่อผู้ใช้" value="{{ instructor[3] }}" required>
                            <span style="margin-right: 10px; color:red; font-size:small">*ชื่อผู้ใช้จะต้องประกอบด้วยตัวอักษรและตัวเลขเท่านั้น!</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">อีเมล์</label>
                        <div class="col-sm-3">
                            <input type="email" class="form-control" id="email" name="email" placeholder="กรอกอีเมล์"
                                value="{{ instructor[4] }}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tel" class="col-sm-2 col-form-label">เบอร์โทร</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="tel" name="tel" placeholder="กรอกหมายเลขโทรศัพท์"
                                value="{{ instructor[5] }}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="gender" class="col-sm-2 col-form-label">เพศ</label>
                        <div class="col-sm-2">
                            <select id="gender" name="gender" class="form-control form-select" aria-label="Gender select">
                                <option disabled value="">--โปรดเลือกตัวเลือก--</option>
                                <option value="Male" {% if instructor[9] == 'Male' %}selected{% endif %}>ชาย</option>
                                <option value="Female" {% if instructor[9] == 'Female' %}selected{% endif %}>หญิง</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="instructorimage" class="col-sm-2 col-form-label">ภาพโปรไฟล์ (ผู้สอน)</label>
                        <div class="col-sm-3">
                            {% if instructor[10] %}
                                    <span style="margin-right: 10px;">ภาพเก่า</span>
                                    <div>
                                        <img src="{{ url_for('static', filename=instructor[10]) }}" alt="Instructor Image" style="width: 100px; height: auto;">
                                    </div>                                  
                            {% endif %}
                            <input type="file" class="form-control" id="instructorimage" name="instructorimage">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary">อัปเดตข้อมูลผู้สอน</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        function validateFileInput(fileInput) {
            const allowedExtensions = ['jpg', 'jpeg', 'png', 'gif']; // เพิ่มประเภทไฟล์อื่น ๆ หากต้องการ
            const file = fileInput.files[0];
            if (file) {
                const fileExtension = file.name.split('.').pop().toLowerCase();
                if (!allowedExtensions.includes(fileExtension)) {
                    Swal.fire({
                        icon: 'error',
                        title: 'ประเภทไฟล์ไม่ถูกต้อง',
                        text: 'กรุณาอัปโหลดไฟล์รูปภาพที่ถูกต้อง (JPEG/JPG/PNG/GIF)',
                        confirmButtonText: 'ตกลง'
                    });
                    fileInput.value = ""; // เคลียร์ข้อมูลในฟิลด์
                    return false;
                }
            }
            return true;
        }

        document.getElementById('instructorimage').addEventListener('change', function () {
            validateFileInput(this);
        });
    });
</script>

{% include 'components/footer_dashboard.html' %}
{% endblock %}
