{% extends 'base_dashboard.html' %}
{% block title %}แก้ไขบทเรียน{% endblock %}
{% block content %}
{% include 'components/sidebar_dashboard.html' %}
{% include 'components/control-sidebar_dashboard.html' %}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>จัดการข้อมูลบทเรียน/Lesson</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">ฟอร์มแก้ไขบทเรียน</h3>
            </div>
            <div class="card-body">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function () {
                            Swal.fire({
                                title: "{{ message }}",
                                icon: "{{ category }}",
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "{{ url_for('lesson_table') }}";
                                }
                            });
                        });
                    </script>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <form method="post" action="{{ url_for('updated_lesson') }}" id="lessonForm">
                    <input type="hidden" id="lesson_id" name="lesson_id" value="{{ lesson[0] }}">
                    <div class="form-group row">
                        <label for="lesson_name" class="col-sm-2 col-form-label">ชื่อแบบทดสอบ:</label>
                        <div class="col-4">
                            <input type="text" class="form-control" id="lesson_name" name="lesson_name"
                                placeholder="ชื่อแบบทดสอบ" value="{{ lesson[1] }}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="course_id" class="col-sm-2 col-form-label">หลักสูตร :</label>
                        <div class="col-sm-3">
                            <select id="course_id" class="form-control custom-select" name="course_id">
                                <option selected="" disabled="">เลือกหลักสูตร</option>
                                {% for course in course %}
                                <option value="{{ course[0] }}" {% if lesson[3] == course[0] %} selected {% endif %}>
                                    {{ course[1] }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary" id="submitButton">อัปเดตข้อมูลบทเรียน</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% include 'components/footer_dashboard.html' %}
{% endblock %}