{% extends 'base_dashboard.html' %}
{% block title %}ผู้ลงทะเบียนเรียนแต่ละหลักสูตร{% endblock %}
{% block content %}
{% include 'components/sidebar_dashboard.html' %}
{% include 'components/control-sidebar_dashboard.html' %}

<div class="content-wrapper" style="min-height: 1416px;">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>ผู้ลงทะเบียนเรียนแต่ละหลักสูตร</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">                          
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        <ul class="flashes">
                            {% for category, message in messages %}
                            <script type="text/javascript">
                                document.addEventListener("DOMContentLoaded", function () {
                                    Swal.fire({
                                        title: "{{ message }}",
                                        icon: "{{ 'success' if category == 'success' else 'error' }}",
                                    });
                                });
                            </script>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr class="table-info">
                                        <th style="width: 1%">No.</th>
                                        <th style="width: 10%">รูปภาพ</th>
                                        <th style="width: 10%">ชื่อหลักสูตร</th>
                                        <th style="width: 10%">จำนวนผู้ลงทะเบียน</th>
                                        <th style="width: 5%; text-align: center;">ดูรายชื่อการเข้าเรียน</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for course_student in course_enroll_student %}
                                    <tr>
                                        <td align="center">{{ loop.index }}</td> 
                                        <td align="center"><img src="{{ course_student[1] }}" alt="Image" style="width: 100px; height: auto;"></td> 
                                        <td>{{ course_student[2] }}</td>
                                        <td>{{ course_student[3] }}</td>
                                        <td align="center">
                                            <a class="btn btn-info btn-sm" href="/enroll_table/{{course_student[0]}}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>                                    
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<!-- jQuery -->
<script src="/static/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables & Plugins -->
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/static/plugins/jszip/jszip.min.js"></script>
<script src="/static/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/static/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/dist/js/adminlte.min.js"></script>
<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Page specific script -->
<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true,
        "lengthChange": true,
        "autoWidth": false,
        "buttons": [
          {
            extend: "copy",
            exportOptions: {
              columns: ':visible' // ให้คัดลอกเฉพาะคอลัมน์ที่มองเห็นได้
            }
          },
          {
            extend: "csv",
            exportOptions: {
              columns: ':visible'
            }
          },
          {
            extend: "excel",
            exportOptions: {
              columns: ':visible'
            }
          },
          {
            extend: "print",
            exportOptions: {
              columns: ':visible' // ให้พิมพ์เฉพาะคอลัมน์ที่มองเห็นได้
            }
          },
          "colvis" // ปุ่ม colvis สำหรับการแสดง/ซ่อนคอลัมน์
        ]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });

    
</script>
{% include 'components/footer_dashboard.html' %}
{% endblock %}
